sudo: required
services:
  - docker

before_install:
  - docker build -t stevenyong/react-docker -f Dockerfile.dev .

script:
  - docker run stevenyong/react-docker npm run test a -- --coverage --watchAll=false


# In the upcoming lecture, we will be adding a script to our .travis.yml file. 
# Due to a change in how the Jest library works with Create React App, 
# we need to make a small modification:

# script:
#   - docker run USERNAME/docker-react npm run test -- --coverage
 
# instead should be:

# script:
#   - docker run -e CI=true USERNAME/docker-react npm run test
# Additionally, you may want to set the following property to the top of your .travis.yml file:

# language: generic 
# You can read up on the CI=true variable here:

# https://facebook.github.io/create-react-app/docs/running-tests#linux-macos-bash

# and environment variables in Docker here:

# https://docs.docker.com/engine/reference/run/#env-environment-variables

# npm run test does not exit issue, fixed by using this: 
# docker run -e CI=true 0bd3dae4776b npm run test a -- --coverage --watchAll=false
# or
# docker run 0bd3dae4776b npm run test a -- --coverage --watchAll=false
